@page
@model Hackathon.VALIA.WEB.Pages.Erros.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Erros[0].PosicaoInicial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Erros[0].PosicaoFinal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Erros[0].Linha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Erros[0].Tamanho)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Erros[0].Texto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Erros[0].Campo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Erros) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PosicaoInicial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PosicaoFinal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Linha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tamanho)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Texto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ErroId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ErroId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ErroId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
